body{
    margin: 0;
    padding: 0;
 }
  .info {
      width: 140px;
      padding: 6px 8px;
      font: 14px/16px Arial, Helvetica, sans-serif;
      background: white;
      background: rgba(255,255,255,0.8);
      box-shadow: 0 0 15px rgba(0,0,0,0.2);
      border-radius: 5px;
      background-color: aquamarine;
  }
  .info h4 {
      margin: 0 0 5px;
      color: #777;
  }
  /* ///////////////////////////////////////////////////// */
 .section{
        position: relative;
        margin: 0;
        min-height: 100vh;
        background-color: rgb(21,25,42);
        width: 100%;
        height: auto;

    }

.section-img{
    position: relative;
    width: 100%;
    height:100vh;
    overflow: hidden;
    background-repeat: no-repeat;
    background:linear-gradient(to bottom,rgb(41,2,52),rgb(14,73,145));
    background-position: top center;
}
.section-img::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,rgb(21,25,42),transparent);
    z-index: 33;
}
.section-img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.passline{
    width: 100%;
    height: 5px;
    background-color: rgb(57, 1, 79);
}
/* ///////////////////////////////////// */

.section-title{
    position: relative;
    margin: 0;
    min-height: 100vh;
    width: 100%;
    z-index: -1;
    background-color: rgb(21,25,42);



}
.content{
  position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    height: auto;
    padding: 20px;
}
.section-title h1{
 text-align: center;
 
  color: rgb(106, 3, 129);
    font-weight: 800;
    text-decoration-skip: space;
    border-bottom: 4px solid #b973d2;
    width: 100%;
    font-size: 60px;
}
.section-title .card{
  font-size: 20px;
  font-weight: 700;
  border-radius: 10px;
  margin-top: 50px;
  background-color: #b973d272;
  color: #b973d2;
  justify-content:center;
  align-items: start;
 padding: 10px;
}
.section-title .card li{
  padding: 10px;
}
/* ////////////////////////////////////// */