
body{
    margin: 0;
    padding: 0;
 }
 .section-img{
    position: relative;
    width: 100%;
    height:100vh;
    overflow: hidden;
    background-repeat: no-repeat;
    /* background-color: #66B1F1; */
    background: linear-gradient(to bottom,#2f98f5,transparent);
    background-position: top center;
}
img#sun{
    mix-blend-mode:hard-light;
}
.section-img::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,rgb(165, 233, 245),transparent);
    z-index: 5;
}
.section-img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
img#sun{
   transform: translatey(50px);
}



/* ///////////內容//////////////// */
 
.section-title{
    position: relative;
    margin: 0;
    min-height: 50vh;
    width: 100%;
    z-index: -1;
    background-color: rgb(165, 233, 245);
}
.section-title::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,rgb(127, 229, 247),transparent);
    z-index: 5;
}

.section-title h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-100%);
    font-weight: 800;
    text-decoration-skip: space;
}

.section-body{
        position: relative;
        margin: 0;
        min-height: 100vh;
        background-color: rgb(127, 229, 247);
        height: auto;
        width: 100%;

}


.style1 .imgstyle{
    margin-top: 5px;
}
.imgstyle{
    padding: 40px 10% 100px 10%;
    width: 60%;
    text-align: center;
    border:5px grey solid;
    padding:40px;
    background-color: rgb(248, 237, 235);
    display:block;
    margin: auto;
}
.imgstyle img {
    width: 700px;
    border: #000 4px;
    max-width: 100%;
    max-height: 100%;
  }

  .style1{
   flex-direction: column;
    position: relative;
    display: flex;

    padding: 100px 10% 200px 10%;

}





